{% extends 'base.html.twig' %}




{% block title %}Hello ImgController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Images</h1>
	<table style = 'width:90%;max-width:800px;'>
	<tr>
	<th> Image </th>
	<th> Image </th>
	<th> Image </th>
	
	<th> Image </th>
	</tr>
	<tr>
	
	{% for image in images %}

		<td>
		<img src = "{{ image.picurl }}" alt = '' class = 'fiximg'>
		<br>
		{{ image.picsize }} KB
		</td>
		 {% if loop.index % 4 == 0 and loop.index > 0 %}
		 </tr><tr><td colspan =4><hr></td></tr><tr>
		 {% endif %}
		
	{% endfor %}
    
	</tr>
	</table>
	
	{{ knp_pagination_render(images) }}
	
	
	<hr>
	<strong> Total : {{ kilobytes }} Kilobytes </strong>

</div>
{% endblock %}
